@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
  --main-color: #00a3b8;
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid gray;
  padding-bottom: 2%;
  width: 95%;
  margin-left: 2%;
}

.logo {
  display: flex;
  flex-direction: row;
}

h1 {
  margin-left: 10px;
  margin-top: 20px;
  width: 400px;
}

.logo-img {
  width: 50px;
  margin-left: 26px;
  margin-top: 10px;
}

.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45%;
  margin-left: 30%;
  margin-top: 22px;
}

.nav-link a {
  text-decoration: none;
  padding: 5px;
  font-size: 20px;
  color: var(--main-color);
  cursor: pointer;
}

#dragons {
  border-right: 1px solid #00a3b8;
  padding-right: 25px;
}

.rocket-c,
.dragon-c {
  display: flex;
  flex-direction: column;
  margin: 22px;
}

.rocket-list,
.dragon-list {
  display: flex;
  flex-direction: row;
  margin: 12px;
}

.rocket-img,
.dragon-img {
  width: 250px;
  margin-right: 20px;
  box-shadow: 5px 5px 5px 5px rgb(214, 72, 100);
}

.rocket-info,
.dragon-info {
  display: flex;
  flex-direction: column;
}

.rocket-des,
.dragon-des {
  font-size: 14px;
  margin: 10px 0;
}

.reserve-btn {
  max-width: 120px;
  background-color: var(--main-color);
  border: none;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  padding: 10px 6px;
  cursor: pointer;
}

.reserve-btn:hover {
  box-shadow: 4px 4px 4px lightseagreen;
}

.Not-A-member {
  background-color: gray;
  color: white;
  font-size: 1.5vh;
  width: 110px;
  border-radius: 4px;
  text-align: center;
}

.Active-member {
  background-color: #0290ff;
  color: white;
  font-size: 1.5vh;
  width: 110px;
  border-radius: 4px;
  text-align: center;
}

table {
  width: 100%;
}

table,
td,
th {
  border: 1px ridge lightgray;
  border-collapse: collapse;
  padding: 5px 5px;
}

.mission-description {
  font-size: 2vh;
}

.reserved-r {
  color: #fff;
  background-color: var(--main-color);
  border-radius: 10px;
  margin: 0 8px 0 0;
  padding: 3px 8px;
  font-size: 12px;
}

.cancel-btn {
  max-width: 120px;
  background-color: white;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  color: #918e8e;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  padding: 10px 6px;
  cursor: pointer;
  box-shadow: 5px 5px 5px lightgray;
}

.profile-c {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  margin-left: 3%;
}

.my-rockets,
.my-mission,
.my-dragons {
  margin: 10px;
  width: 30%;
}

h2 {
  margin: 10px;
}

.rocket-profile,
.dragons-profile,
.mission-profile {
  display: flex;
  flex-direction: column;
  max-width: 70vw;
  border: 1px solid #918e8e;
}

.rocket-name,
.dragon-name,
.mission-prof-name {
  margin: 0;
  padding: 12px;
  font-size: 20px;
  border-bottom: 1px solid #918e8e;
}

.main-table {
  margin-top: 2%;
  width: 90%;
  margin-left: 5%;
}

.mission-d {
  width: 100px;
  text-align: left;
  font-size: 3vh;
  font-weight: 800;
}

.mission-name {
  text-align: left;
}

.mission-name h3 {
  font-size: 18px;
  padding: 1px 1px;
}

tr:nth-child(2n) {
  background-color: rgb(223, 224, 226);
}

.mission-D,
.mission-S {
  font-size: 18px;
  font-weight: 800;
}

.join-mission {
  width: 170px;
  align-items: center;
}

.join-mission-btn {
  margin-left: 15%;
  padding: 4px 12px;
  background-color: rgb(253, 253, 253);
  border: 2px solid lightgrey;
  border-radius: 5px;
}

.leave-mission-btn {
  margin-left: 15%;
  padding: 4px 12px;
  background-color: rgb(253, 253, 253);
  border: 2px solid crimson;
  color: crimson;
  border-radius: 5px;
}
